@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/ProximaNova-Regular.eot');
	src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Regular.woff') format('woff'),
		url('fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/ProximaNova-Bold.eot');
	src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Bold.woff') format('woff'),
		url('fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

html, body, div, ul, p, h1 {
	margin: 0;
	padding: 0;
}

.navbar-nav a {
	display: inline-block;
	font-family: 'Proxima Nova Rg';
	font-weight: normal;
	font-size: 18px;
	text-decoration: none;
	color: #a6a6a6;
	padding: 10px 22px;
}

@media screen and (max-width: 1300px) {
	.navbar-nav a {
		font-size: 16px;
	}
}

.navbar-nav>li>a:hover {
	color: #000;
}

ul.navbar-nav > li {
	display: inline;
}

li {
	list-style-type: none;
}

header {
	max-width: 100%;
	height: 105px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 91px;
}

.navbar-nav>li>a {
	color: #a6a6a6;
}

.navbar-logo {
	padding: 0px 20px;

}

.navbar-nav>.active>a,
.navbar-nav>.open>a {
	background: #f0f0f0;
	border-radius: 30px;
	font-weight: bold;
	padding: 10px 22px;
	color: #000;
	}


img {
	max-width: 100%;	
}


ul.navbar-right {
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	border-left: 1px solid #f5f5f5;
}

.div-search,
.div-login,
.div-menu {
	padding: 0px 20px;
}

.search {
	display: inline-block;
	height: 34px;
	width: 34px;
	background-image: url("images/search.png");
	background-position: -34px 0 ;
}

.search:hover {
	display: inline-block;
	height: 34px;
	width: 34px;
	background-image: url("images/search.png");
	background-position: 0 0 ;
}

.login {
	display: inline-block;
	height: 40px;
	width: 37px;
	background-image: url("images/login.png");
	background-position: 0 0;
}

.login:hover {
	display: inline-block;
	height: 40px;
	width: 37px;
	background-image: url("images/login.png");
	background-position: -37px 0 ;
}

.menu {
	display: inline-block;
	height: 27px;
	width: 31px;
	background-image: url("images/menu.png");
	background-position: 0 0;
}

.menu:hover {
	transform: scale(1.05);
}



.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	padding: 0px;
}

.nav-line {
	max-width: 100%;
	height: 14px;
	background: linear-gradient(to bottom, rgba(241,241,241,1) 0%,rgba(255,255,255,0) 100%);
}

/*CONTENT*/
.content {
	max-width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Proxima Nova Rg';
}

.content-left {
	max-width: 650px;
	width: 50%;
	padding: 60px 20px 10px 20px;
}

.heading {
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	font-size: 62px;
	padding-bottom: 20px;
	
}

.banned .date {
	display:flex;
	align-items: center;
	font-family: 'Proxima Nova Rg';
	padding-bottom: 15px;
}

.mounth {
	font-size: 28px;
	font-weight: bold;
	padding-right: 15px;
}

.point {
	display: inline-block;
	align-self: center;
	height: 0px;
	width: 0px;
	border: 4px solid #dcdcdc;
	border-radius: 50%;
}

.time {
	display: flex;
	font-size: 28px;
	color: #b0b0b0;
	font-weight: light;
	padding-left: 15px;
}

.countdown {
	display:flex;
	align-items: baseline;
	padding-bottom: 20px;
}

number-text {
	font-size: 20px;
}

.number {
	font-size: 28px;
	font-weight: bold;
	padding-right: 10px;
}

.buttons {
	display: flex;
	padding-bottom: 20px;
}

.but1 {
	padding-right: 20px;
}

.button1,
.button2 {
	font-size: 18px;
	font-family: 'Proxima Nova Rg';
	padding: 10px 30px;
	background: #ebebeb;
	border-radius: 40px;
	border: none;
	outline: none;
}

.button1:hover,
.button2:hover {
	background: #e61035;
	color: #fff;
	transition: background 0.3s ease;
}

.button1:active,
.button2:active,
.button3:active {
	box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
	transform: scale(.97);
}


.nav-arrow {
	display: inline-flex;
	justify-content: space-between;
	width: 142px;
	height: 57px;
}

.back .button {
	width: 57px;
	height: 57px;
	border-radius: 50%;
	border: 2px solid #ebebeb;
	background: #fff;
}

.back .left {
	background: url("images/arrow-left.png") 50% 50% no-repeat;
	}

.back .right {
	background: url("images/arrow-right.png") 50% 50% no-repeat;	
	}

.button, 
.button:active, 
.button:focus {
    outline: none;
	}

.button:hover {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
	transform: scale(1.05);
	}

.back .left:hover {
	background: url("images/arrow-left.png") 50% 50% no-repeat;
	background-size: 28%;
	}

.back .right:hover {
	background: url("images/arrow-right.png") 50% 50% no-repeat;
	background-size: 28%;
	}

.back .right:active {
	background: url("images/arrow-right.png") 50% 50% no-repeat #F7F7F6;
}

.back .left:active {
	background: url("images/arrow-left.png") 50% 50% no-repeat #F7F7F6;
}

.listing {
	display: none;
}

.columns-right {
	max-width: 650px;
	width: 50%;
	padding: 60px 20px 10px 40px;
}

.programm {
	flex-direction: column;
	
}

.block {
	display: inline-flex;
	justify-content: space-between;
	width: 485px;
	height: auto;
	border-bottom: 1px solid #f5f5f5;
	padding: 20px 10px 20px 10px;
}

.row-1,
.row-2 {
	flex-direction: column;
}

.title a {
	font-size: 20px;
	color: #000;
	padding-bottom: 10px;
}

.title a:hover {
	color: #e61035;
}

.subtitle a {
	font-size: 16px;
	color: #a6a6a6;
}

.subtitle a:hover {
	color: #000;
}

.row-2 .time {
	font-size: 22px;
	color: #000;
}

.but3 {
	padding-top: 20px;
}

.button3 {
	width: 216px;
	height: 42px;
	font-size: 15px;
	color: #fff;
	background: #e61035;
	border-radius: 30px;
	padding: 13px 30px;
	border: none;
	outline: none;
	padding-left: 50px;
}

.div-project {
	padding: 5px 0px 5px 0px;
}

.project  {
	font-size: 13px;
	font-weight: 800;
	background: #dcdcdc;
	border-radius: 30px;
	border: none;
	outline: none;	
}

.project a {
	color: #000;
}

.down {
	background: url("images/arrow-down.png") 10% 50% no-repeat #e61035;
	}

.down:hover {
	background: url("images/arrow-down.png") 10% 50% no-repeat #e61035;
	background-size: 9%;
}

.button3:hover {
	font-size: 15.3px;
}

.row-1 a {
	display: inline-block;
	text-decoration: none;
}


.calendar {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 250px;
	max-width: 100%;
	margin-top: 3%;
	margin-bottom: 2%;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%,rgba(0,0,0,0) 100%);
}

.calendar>.date {
	display: flex;
	justify-content: flex-start;
	font-family: 'Proxima Nova Rg';
}

.date1 {
	padding-right: 110%;
	padding-top: 2%;
}

.date2 {
	padding-right: 140%;
	padding-top: 2%;
}

.date1,
.date2 {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.date1>.mounth,
.date2>.mounth {
	font-weight: bold;
	font-size: 42px;
}

.date1>.year,
.date2>.year {
	font-size: 22px;
	color: #a2a2a2;
}


.calendar .date {
	display: flex;
	justify-content: ;
}

.calendar .number {
	display: flex;
	justify-content: space-between;
	padding-top: 2%;
	padding-left: 70px;
	font-family: 'Tulpen One', cursive;
}

.n1 a{
	font-size: 36px;
	letter-spacing: 3px;
	padding: 0px 15px;
	color: #a3a4a6;
	text-decoration: none;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 62px;
	background: #dddddd;
	border-radius: 5px;
	margin-left: 8px;
}



.box:hover {
	background: #A9A3A3;
	border-radius: 5px;
}

.box:hover .n1 a,
.no:hover .n1 a {
	color: #000;
}

.box-today {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 62px;
	background: #e61035;
	border-radius: 5px;
	margin-left: 8px;
}

.box-today>.n1>a {
	color: #fff;
}

.no {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 62px;
	background-color: rgba(0,0,0,0.0);
	border-radius: 5px;
	margin-left: 8px;
}

.no:hover {
	background: #A9A3A3;
	border-radius: 5px;
}

.line {
	align-items: center;
	padding-top: 10px;	
}

.day {
	padding-right: 31%;
	padding-top: 1%;
}
.today {
	font-family: 'Proxima Nova Rg';
	font-size: 14px;
	font-weight: 800;
}

.bottom-menu {
	flex-direction: ;
	padding: 60px 20px 40px 20px;
}

.navbar-title a:hover,
.navbar-subtitle a:hover {
	color: #e61035;
}

.title-menu.
.subtitle-menu {
	display: flex;
}

.navbar-title,
.navbar-subtitle {
	display: flex;
	justify-content: center;
}


ul.navbar-title > li,
ul.navbar-subtitle > li {
	display: inline;
}

.navbar-title a {
	display: inline-block;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
	color: #000;
	padding: 10px 22px;
}



.navbar-subtitle a {
	display: inline-block;
	font-family: 'Proxima Nova Rg';
	font-weight: normal;
	font-size: 20px;
	text-decoration: none;
	color: #a6a6a6;
	padding: 10px 22px;
}


footer {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: 100px;
	border-top: 1px solid #f5f5f5;
}

.footer-text {
	width: 70%;
}

.footer-text p {
	font-family: 'Proxima Nova Rg';
	font-size: 13px;
	color: #a6a6a6;
}

.footer-text b {
	color: #000;
}

.footer-logo-left {
	padding: 0px 20px 5px 10px;
}

.footer-logo-right {
	padding: 0px 20px 0px 10px;
	position: relative;
}

.img-right {
	position: relative;
	z-index: 1;
}

.img-right-hover {
	position: absolute;
	display: none;
	z-index: 3;
	left: 7px;
	top: 0;
}

.footer-logo-right:hover .img-right-hover {
	display: block;
}

ul.social-share {
	overflow: hidden;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
}

.div-instagram,
.div-twitter,
.div-facebook,
.div-vk {
	padding: 5px 15px;
}

.instagram {
	display: inline-block;
	height: 25px;
	width: 25px;
	background-image: url("images/icon-instagram.png");
}

.instagram:hover {
	display: inline-block;
	height: 25px;
	width: 25px;
	background-image: url("images/icon-instagram.png");
	background-position: -25px 0 ;
	transform: scale(1.05);
}

.twitter {
	display: inline-block;
	height: 25px;
	width: 31px;
	background-image: url("images/icon-twitter.png");
}

.twitter:hover {
	display: inline-block;
	height: 25px;
	width: 31px;
	background-image: url("images/icon-twitter.png");
	background-position: -31px 0 ;
	transform: scale(1.05);
}

.facebook {
	display: inline-block;
	height: 27px;
	width: 13px;
	background-image: url("images/icon-facebook.png");
}

.facebook:hover {
	display: inline-block;
	height: 27px;
	width: 13px;
	background-image: url("images/icon-facebook.png");
	background-position: -13px 0 ;
	transform: scale(1.05);
}

.vk {
	display: inline-block;
	height: 23px;
	width: 40px;
	background-image: url("images/icon-vk.png");
	background-position: 0 0 ;
}

.vk:hover {
	display: inline-block;
	height: 23px;
	width: 40px;
	background-image: url("images/icon-vk.png");
	background-position: -40px 0 ;
	transform: scale(1.05);
}
	
	